.flex,
.flex-row,
.flex-col {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

[hidden] {
  display: none !important;
}

svg[aria-hidden="true"] {
  display: none !important;
}

[disabled] {
  pointer-events: none;
}
