@import url(./reset.css);
@import url(./fonts.css);
@import url(./helpers.css);
@import url(./animations.css);

@import url(./palette.css);
@import url(./app-preview.css);

:root {
  --max-width: 1200px;
  --accent-color: #2196f3;

  --inactive-color: var(--dark);
  --bg-secondary: #ffebd6;

  --color-primary: var(--accent-color);
  /* --color-primary: #e9911e; */

  /* splash */

  /* #019ce1 - chehol */

  --bg-primary: hsla(from var(--color-primary) h s l / 0.3);

  --splash-mob-frame-color: #019ce1;
  --splash-mob-frame-color: var(--color-primary);
  --splash-mob-frame-color: hsl(from var(--color-primary) calc(h + 150) s l);
}

html {
  display: flex;

  align-items: center;
  justify-content: space-around;
}

body {
  flex: 1;
  max-width: var(--max-width);
  box-sizing: border-box;
}

@media screen {
  body {
    padding: 0 40px;
  }
}

label {
  cursor: pointer;
}

button {
  cursor: pointer;

  align-items: center;
  border: 2px solid transparent;
  box-sizing: border-box;
  font-weight: 600;
  border-radius: 5px;
  user-select: none;

  color: black;
  text-decoration: none;

  text-transform: capitalize;

  transition: background-color 100ms ease-in-out;

  --color: var(--accent-color);

  &.btn-primary {
    color: white;
    background-color: var(--color);
    border-color: rgba(0, 0, 0, 0.3);

    &:hover {
      background-color: hsla(from var(--color) h s l / 0.8);
    }

    &:active {
      background-color: hsla(
        from var(--color) h calc(s + 10) calc(l - 10) / 0.4
      );
    }
  }

  &.btn-secondary {
    border-color: var(--color);

    &:hover {
      background-color: hsla(from var(--color) h s l / 0.2);
    }

    &:active {
      background-color: hsla(
        from var(--color) h calc(s + 10) calc(l - 10) / 0.4
      );
    }
  }

  &.btn-cancel {
    --color: gray;
    border-color: var(--color);

    &:hover {
      background-color: hsla(from var(--color) h s l / 0.2);
    }

    &:active {
      background-color: hsla(
        from var(--color) h calc(s + 10) calc(l - 10) / 0.4
      );
    }
  }
}

a.button-link {
  display: inline-block;
  text-decoration: none;
}

header {
  /* // */
  background-color: none;
}

h2 {
  text-transform: capitalize;
}

nav.menu {
  list-style: none;

  padding: 0;
  margin: 0;

  a {
    display: flex;

    padding: 10px;

    text-transform: capitalize;
    text-decoration: none;

    color: var(--inactive-color);

    &.selected {
      border-bottom: 3px solid var(--accent-color);
      color: var(--accent-color);
    }
  }
}

section {
  box-sizing: border-box;

  margin: 30px 0;
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.button-with-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  font-weight: bold;
  text-transform: uppercase;

  padding: 0 10px;

  .icon-emoji {
    font-size: 30px;
  }

  .button-text {
  }
}

.radius-30 {
  border-radius: 30px;
}

.section-splash {
  overflow: hidden;

  font-size: min(4vw, calc(var(--max-width) / 100 * 4));

  /* todo: can change hue, keep opacity */
  background-color: var(--bg-primary);
}

/* STATS */

.stats-total {
  padding: 20px;

  .stat-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    .stat-value {
      font-size: min(4vw, calc(var(--max-width) / 100 * 4));
      font-weight: bold;
    }

    .stat-text {
      font-size: min(2vw, calc(var(--max-width) / 100 * 2));
    }

    @media (orientation: portrait) and (width < 600px) {
      .stat-value {
        font-size: min(6vw, calc(var(--max-width) / 100 * 6));
      }

      .stat-text {
        font-size: min(3vw, calc(var(--max-width) / 100 * 3));
      }
    }

    .icon-emoji {
      font-size: 30px;
    }
  }
}

.contact-form {
  box-shadow: 0px 0px 10px 0px #000000a3;

  --pw: 15px;
  --red: #f44336;
  --white: #f2f2f2;
  --blue: #2196f3;

  background: linear-gradient(white, white),
    repeating-linear-gradient(
      -45deg,
      var(--red) 0px,
      var(--red) calc(var(--pw) * 1),
      var(--white) calc(var(--pw) * 1),
      var(--white) calc(var(--pw) * 2),
      var(--blue) calc(var(--pw) * 2),
      var(--blue) calc(var(--pw) * 3),
      var(--white) calc(var(--pw) * 3),
      var(--white) calc(var(--pw) * 4)
    );

  background-origin: padding-box, border-box;
  background-repeat: no-repeat; /* this is important */
  border: 5px solid transparent;
  border-radius: 5px;

  fieldset {
    margin: 0;
    border: none;
    /* border: 2px solid; */
    /* background-color: var(--bg-secondary); */
    /* background-color: white; */
    /* border-color: var(--bg-secondary); */
    /* border-radius: 30px; */
    padding: 20px 30px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    border: 2px solid;
    border-color: var(--bg-primary);
    border-radius: 5px;

    &:focus {
      border-color: var(--color-primary);
    }

    &::placeholder {
      /* color: var(--bg-primary); */
    }
  }

  textarea {
    min-height: 16px;
  }
}

.stats-section {
  padding: 20px;

  border: 2px solid;
  border-color: var(--bg-primary);

  h3 {
    text-transform: capitalize;
    margin-left: 80px;
  }

  .stats-columns {
    overflow-x: auto;
  }
}

/* results */

.result-item {
  padding: 10px;
  height: 40px;

  .item-value {
    font-size: 30px;
    width: 60px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .item-country {
    padding: 0 5px;
    font-size: 40px;
    margin: 0 5px;

    line-height: 30px;
    display: flex;
    align-items: center;
  }

  .item-text-block {
    display: flex;
    justify-content: center;

    .item-name {
      /* // */
    }

    .item-date {
      color: darkgray;
    }
  }
}

/* FOOTER */

hr {
  padding: 0;
  margin: 0;
  /* width: 100%; */
  border-width: 1px;
  border-style: dashed;
  box-sizing: border-box;
  align-self: stretch;
  border-color: var(--bg-primary);
}

dl.faq-list {
  dt {
    /* question */
    padding-top: 1rem;
    padding-bottom: 1rem;

    font-weight: bold;
    font-size: 18px;
  }

  dd {
    /* answer */
    margin: 0;
    font-size: 16px;
    padding-bottom: 1rem;
  }
}

h1 {
  font-size: 56px;
  font-size: min(4.5vw, calc(var(--max-width) / 100 * 4.5));
  margin: 0;
}

/* landscape */

.splash-text-block {
  box-sizing: border-box;
  padding: 50px;
  padding-right: 0;
}

.popup-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  background: white;
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  padding: 10px 0;
  margin: 45px 0px;
}

.nav-lang-item-list {
  > * {
    border-radius: 0;

    &:hover {
      background-color: var(--bg-secondary);
    }
  }
}

.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: hsla(from var(--bg-secondary) h s l / 0.3);
  backdrop-filter: blur(5px);

  z-index: 1;
}

@media (width >= 600px) {
  .mobile-only {
    display: none;
  }
}

@media (orientation: portrait) and (width < 600px) {
  body {
    padding: 10px;
  }

  .desktop-only {
    display: none;
  }

  h1 {
    font-size: clamp(10px, 7vw, 40px);
  }

  .section-splash {
    flex-direction: column;
  }

  .splash-text-block {
    padding: 20px;
  }

  .mobile-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button#\$btnLangClose {
    position: fixed;
    right: 0;
    top: 0;
    margin: 10px;
  }

  .popup-menu {
    position: fixed;
    left: 0;
    bottom: 0;

    margin: 0px;
    border: none;
  }
}
