@import url(./reset.css);
@import url(./fonts.css);
@import url(./helpers.css);
@import url(./animations.css);

@import url(./palette.css);

:root {
  --accent-color: var(--green);
  --accent-color: #019ce1;
  --accent-color: #2196f3;

  --inactive-color: var(--dark);
  --bg-secondary: #ffebd6;

  --main-color: var(--accent-color);
  /* --main-color: #e9911e; */

  /* splash */

  /* #019ce1 - chehol */

  --splash-bg-color: hsla(from var(--main-color) h s l / 0.3);

  --splash-mob-frame-color: #019ce1;
  --splash-mob-frame-color: var(--main-color);
  --splash-mob-frame-color: hsl(from var(--main-color) calc(h + 150) s l);
}

html {
  display: flex;

  align-items: center;
  justify-content: space-around;
}

body {
  flex: 1;
  max-width: 1200px;
  box-sizing: border-box;
}

@media screen {
  body {
    padding: 0 40px;
  }
}

button {
  cursor: pointer;

  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-weight: 600;
  border-radius: 3px;
  border-radius: 5px;
  user-select: none;

  color: black;
  text-decoration: none;

  text-transform: capitalize;

  transition: background-color 100ms ease-in-out;

  --color: var(--accent-color);

  &.btn-primary {
    color: white;
    background-color: var(--color);

    &:hover {
      background-color: hsla(from var(--color) h s l / 0.8);
    }

    &:active {
      background-color: hsla(
        from var(--color) h calc(s + 10) calc(l - 10) / 0.4
      );
    }
  }

  &.btn-secondary {
    border-color: var(--color);

    &:hover {
      background-color: hsla(from var(--color) h s l / 0.2);
    }

    &:active {
      background-color: hsla(
        from var(--color) h calc(s + 10) calc(l - 10) / 0.4
      );
    }
  }
}

a.button-link {
  display: inline-block;
  text-decoration: none;
}

header {
  /* // */
  background-color: none;
}

h2 {
  text-transform: capitalize;
}

nav.header-menu {
  list-style: none;

  padding: 0;
  margin: 0;

  a {
    display: flex;
    padding: 10px;
    text-transform: capitalize;

    padding: 10px;
    text-decoration: none;

    color: var(--inactive-color);

    &.selected {
      border-bottom: 3px solid var(--accent-color);
      color: var(--accent-color);
    }
  }
}

section {
  box-sizing: border-box;

  margin: 30px 0;
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.button-language {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  font-weight: bold;

  .flag-icon {
    font-size: 30px;
  }

  .language-name {
    text-transform: uppercase;
  }
}

.radius-30 {
  border-radius: 30px;
}

.section-splash {
  overflow: hidden;

  height: 500px;

  /* todo: can change hue, keep opacity */
  background-color: var(--splash-bg-color);
}

.app-preview {
  position: relative;
  /* to cover shadow */
  margin: 30px;
  margin-bottom: 0;
  width: 360px;
  height: 460px;
  /* overflow: hidden; */

  box-sizing: border-box;
  border: 12px solid black;
  border-radius: 60px;
  box-shadow: 
  /* chehol */ 0px 0px 0px 4px var(--splash-mob-frame-color),
    /* shadow */ 5px 0px 20px 4px #000000a3;

  /* to move screenshot */
  padding-top: 45px;
  background-color: #c0c0c0;
  background-color: dimgray;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;

  .dynamic-island {
    /* dynamic island */
    position: absolute;
    left: 50%;
    top: 22px;
    transform: translate(-50%, -50%);

    width: 100px;
    height: 28px;
    border-radius: 15px;

    background-color: black;
  }

  .phone-clock {
    position: absolute;
    top: 0;
    left: 0;

    color: white;

    font-size: 15px;

    width: 120px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .phone-icons {
    position: absolute;
    top: 0;
    right: 0;

    height: 45px;
    width: 120px;

    > svg {
      width: 70px;
    }

    --color: white;

    /* transform: translate(-28px, 14px); */

    /* background: grey; */

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .phone-button {
    /* power button */
    position: absolute;
    top: 0;

    width: 2px;
    background-color: black;

    &.power-button {
      right: 0;
      height: 90px;
      transform: translate(18px, 220px);
    }

    &.volume-up {
      height: 55px;
      left: 0;
      transform: translate(-18px, 195px);
    }

    &.volume-down {
      height: 55px;
      left: 0;
      transform: translate(-18px, 270px);
    }
  }

  img {
    object-position: top;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

/* STATS */

.stats-total {
  padding: 20px;

  .stat-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    .stat-value {
      font-size: 40px;
      font-weight: bold;
    }

    .flag-icon {
      font-size: 30px;
    }
  }
}

.contact-form {
  box-shadow: 0px 0px 10px 0px #000000a3;

  --pw: 15px;
  --red: #f44336;
  --white: #f2f2f2;
  --blue: #2196f3;

  background: linear-gradient(white, white),
    repeating-linear-gradient(
      -45deg,
      var(--red) 0px,
      var(--red) calc(var(--pw) * 1),
      var(--white) calc(var(--pw) * 1),
      var(--white) calc(var(--pw) * 2),
      var(--blue) calc(var(--pw) * 2),
      var(--blue) calc(var(--pw) * 3),
      var(--white) calc(var(--pw) * 3),
      var(--white) calc(var(--pw) * 4)
    );

  background-origin: padding-box, border-box;
  background-repeat: no-repeat; /* this is important */
  border: 5px solid transparent;
  border-radius: 5px;

  fieldset {
    margin: 0;
    border: none;
    /* border: 2px solid; */
    /* background-color: var(--bg-secondary); */
    /* background-color: white; */
    /* border-color: var(--bg-secondary); */
    /* border-radius: 30px; */
    padding: 20px 30px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    border: 2px solid;
    border-color: var(--splash-bg-color);
    border-radius: 5px;

    &:focus {
      border-color: var(--main-color);
    }

    &::placeholder {
      /* color: var(--splash-bg-color); */
    }
  }

  textarea {
    min-height: 16px;
  }
}

.stats-section {
  padding: 20px;

  border: 2px solid;
  border-color: var(--splash-bg-color);

  h3 {
    text-transform: capitalize;
    margin-left: 80px;
  }

  .stats-columns {
    overflow-x: scroll;
  }
}

/* results */

.result-item {
  padding: 10px;
  height: 40px;

  .item-value {
    font-size: 30px;
    width: 60px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .item-country {
    padding: 0 5px;
    font-size: 40px;
    margin: 0 5px;

    line-height: 30px;
    display: flex;
    align-items: center;
  }

  .item-text-block {
    display: flex;
    justify-content: center;

    .item-name {
      /* // */
    }

    .item-date {
      color: darkgray;
    }
  }
}

/* FOOTER */

.footer-menu {
  list-style: none;

  padding: 0;
  margin: 0;

  a {
    display: flex;
    padding: 10px;
    text-transform: capitalize;

    padding: 10px;
    text-decoration: none;

    color: var(--inactive-color);

    &.selected {
      border-bottom: 3px solid var(--accent-color);
      color: var(--accent-color);
    }
  }
}

hr {
  padding: 0;
  margin: 0;
  /* width: 100%; */
  border-width: 1px;
  border-style: dashed;
  box-sizing: border-box;
  align-self: stretch;
  border-color: var(--splash-bg-color);
}

dl.faq-list {
  dt {
    /* question */
    padding-top: 1rem;
    padding-bottom: 1rem;

    font-weight: bold;
    font-size: 18px;
  }

  dd {
    /* answer */
    margin: 0;
    font-size: 16px;
    padding-bottom: 1rem;
  }
}

.app-preview {
  img {
    /* visibility: hidden; */
    display: none;
  }

  img.active {
    display: block;
    animation: fadeIn 300ms ease-in;
  }
}

@media (orientation: portrait) and (width < 600px) {
  body {
    padding: 10px;
  }
  nav.header-menu {
    display: none;
  }
}
