.pattern-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  --matrix-cell-size: 30px;
}

.pattern-matrix {
  /* prevent outside recoloring */
  --color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  background-color: white;

  border: 1px solid black;
  border-radius: 2px;
}

.matrix-cell {
  width: var(--matrix-cell-size);
  height: var(--matrix-cell-size);
  background: var(--color, transparent);
  border: 1px solid black;
}

.pattern-question-mark {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--dimgray);
  color: black;
  border: 2px solid black;
  border-radius: 2px;
}

.answer-list {
  --matrix-cell-size: 20px;
}

/* mixed colors */

.red.green {
  --color: linear-gradient(
    to bottom right,
    var(--green) 48%,
    black 48%,
    black 52%,
    var(--red) 52%
  );
}

.red.blue {
  --color: linear-gradient(
    to bottom right,
    var(--red) 48%,
    black 48%,
    black 52%,
    var(--blue) 52%
  );
}

.red.yellow {
  --color: linear-gradient(
    to bottom right,
    var(--red) 48%,
    black 48%,
    black 52%,
    var(--yellow) 52%
  );
}

.green.blue {
  --color: linear-gradient(
    to bottom right,
    var(--green) 48%,
    black 48%,
    black 52%,
    var(--blue) 52%
  );
}

.green.yellow {
  --color: linear-gradient(
    to bottom right,
    var(--green) 48%,
    black 48%,
    black 52%,
    var(--yellow) 52%
  );
}

.yellow.blue {
  --color: linear-gradient(
    to bottom right,
    var(--yellow) 48%,
    black 48%,
    black 52%,
    var(--blue) 52%
  );
}
