section {
  background-color: #c0c0c0;
}

.question-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  --matrix-cell-size: 30px;
}

.question-matrix {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  background-color: white;

  border: 1px solid black;
  border-radius: 2px;
}

.matrix-cell {
  width: var(--matrix-cell-size);
  height: var(--matrix-cell-size);
  background-color: var(--color, transparent);
  border: 1px solid black;
}

.question-mark {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--dimgray);
  color: black;
  border: 2px solid black;
}

.answer-block {
  --matrix-cell-size: 20px;
}
