:root {
  --red: #ff5455;
  --green: #00bc62;
  --blue: #00c8dc;
  --yellow: #ffdf32;

  --gray: #d9d9d9;
  --dimgray: #8b8b8b;

  --black: black;
  --white: white;
}

.red {
  --color: var(--red);
}

.green {
  --color: var(--green);
}

.blue {
  --color: var(--blue);
}

.yellow {
  --color: var(--yellow);
}

.gray {
  --color: var(--gray);
}

.black {
  --color: var(--black);
}

.white {
  --color: var(--white);
}

/* todo: use for cases when something went wrong */
.undefined {
  --color: magenta;
  animation: blinking 500ms ease-in-out infinite alternate;
}
/* todo: move to anims css? */
@keyframes blinking {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
