.pattern-figure {
  width: var(--pattern-size);
  height: var(--pattern-size);

  color: var(--color, black);

  background-color: white;
  stroke-width: 2px;

  border: 2px solid black;
  border-radius: 2px;
  box-sizing: border-box;

  transition: all 500ms ease-in-out;

  --strokeColor: hsl(from var(--color) h s calc(l - 15));
}

.pattern-figure > svg {
  transition: all 500ms ease-in-out;
  transform-origin: center;
}
