body text.debug-info {
  visibility: hidden;
}

body.debug text.debug-info {
  visibility: visible;
  dominant-baseline: text-before-edge;
  text-anchor: start;
  /* transform: translate(0%, 0%); */

  font-family: monospace;
  font-size: 50%;

  fill: greenyellow;
  stroke: black;

  stroke-width: 6px;
  paint-order: stroke;
  stroke-linejoin: round;
}

.pattern-figure {
  width: var(--pattern-size);
  height: var(--pattern-size);

  color: var(--color, black);

  background-color: white;
  stroke-width: 2px;

  border: 2px solid black;
  border-radius: 2px;
  box-sizing: border-box;

  transition: all 500ms ease-in-out;
}

.pattern-figure > svg,
.pattern-figure > use {
  /* todo: dunno how to handle different colors: put inside svgs or use vars from here? */

  transition: all 500ms ease-in-out;
  /* variables here */
  /* anything rotatable!!! */
  /* --color is fallback, should be -fill */

  fill: var(--fill, var(--color, none));
  stroke: var(--stroke);
  stroke-width: var(--stroke-width);
  transform: rotate(var(--rotate, 0deg))
    scale3d(var(--scaleX, var(--scale, 1)), var(--scaleY, var(--scale, 1)), 1);

  transform-origin: var(--transform-origin, center);
}

/* todo(vmyshko): make it better! */
.pattern-figure.no-default-frame,
.pattern-question-mark.no-default-frame {
  border: none;
  background: none;
}

.answer-list .pattern-figure.no-default-frame {
  /* for no frame figs */
  background-color: #a2a2a2;
}
