/* //todo: extract */
.pattern-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  --pattern-size: 100px;
}

.pattern-rotational {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--pattern-size);
  height: var(--pattern-size);

  box-sizing: border-box;
  /* border-radius: calc(var(--pattern-size) / 2); */
}

.pattern-rotational.pattern-question-mark {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  color: black;
}
.pattern-rotational.pattern-question-mark:after {
  content: "?";
  position: relative;
}

.pattern-rotational.pattern-question-mark .frame-fill {
  fill: var(--dimgray);
}

.rotational-part {
  position: absolute;
  width: var(--pattern-size);
  height: var(--pattern-size);

  color: var(--color);

  transition: all 500ms ease-in-out;

  mix-blend-mode: multiply;
  /* mix-blend-mode: color-burn;
  mix-blend-mode: overlay; */
}

.frame-fill {
  fill: white;
}

.frame-stroke {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.rotational-static {
  position: absolute;
  width: var(--pattern-size);
  height: var(--pattern-size);
}

.part-container {
  isolation: isolate;
  /* overflow: hidden; */
  /* border-radius: calc(var(--pattern-size) / 2); */
}

.answer-list {
  --pattern-size: 70px;
}

.answer-list .pattern-rotational {
  /* todo: keep or remove? */
  background-color: #a2a2a2;
}

.answer {
  /* todo: think about it */
  /* todo: fix rounded corner */
  border-top-right-radius: calc(var(--pattern-size) / 2 + 3px);
  border-bottom-right-radius: calc(var(--pattern-size) / 2 + 3px);
}
.answer .pattern-rotational {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.question-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.question-button {
  --size: 56px;

  font-size: 20px;
  background-color: var(--gray);
  width: var(--size);
  height: var(--size);
  align-items: center;
  display: flex;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.3);

  box-sizing: border-box;
  font-weight: 600;
  border-radius: 3px;
}

.question-button.correct {
  background-color: var(--green);
}

.question-button.wrong {
  background-color: var(--red);
}

.question-button.selected {
  background-color: var(--yellow);
  border-color: black;
}
