@import url(./reset.css);
@import url(./fonts.css);
@import url(./helpers.css);
@import url(./palette.css);
@import url(./patterns.css);

:root {
  --row-height: 75px;

  --body-bg-color: #c0c0c0;
}

::selection {
  background-color: var(--yellow);
}

@font-face {
  /* used to display emoji on windows */
  font-family: "Segoe UI Emoji";
  src: local("Segoe UI Emoji");

  size-adjust: 80%;
}

html {
  display: flex;

  min-height: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: gray;
}

body {
  max-width: 800px;
  background-color: var(--body-bg-color);
  box-shadow: 0 0 4px 0px black;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

button {
  font-size: 20px;
  background-color: var(--gray);
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-weight: 600;
  border-radius: 3px;
  user-select: none;

  transition: background-color 100ms ease-in-out;
}

button:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.tiktok-text {
  text-shadow: 1px 1px #f72456, -1px -1px #19f2e4;
}

/* @property --color {
  syntax: "<color>";
  inherits: false;
  initial-value: transparent;
} */

/* tailwind-like */

.p-10 {
  padding: 10px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.m-10 {
  margin: 10px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.w-100p {
  width: 100%;
}

.small {
  font-size: small;
}

/* progress */
progress {
  border: 0;
  border-radius: 0;
  height: 15px;

  --progress-bar-bg: var(--gray);
  --progress-value-bg: var(--red);
}

/* this shit does not work for all browsers, consider to use div-progress instead */

progress::-webkit-progress-bar {
  background-color: var(--progress-bar-bg);
}

progress::-webkit-progress-value {
  background-color: var(--progress-value-bg);
  transition: all 300ms ease-in-out;
}

header {
  position: sticky;
  top: 0;

  /* background-color: var(--body-bg-color); */
  background-color: #a2a2a2;
  box-shadow: 0 0 5px 0 black;
}

.pattern-area {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--size), 0fr);

  --pattern-size: 100px;

  /* width: 375px; */

  font-size: 50px;
  text-align: center;

  gap: 10px;
}

.pattern-area,
.answer-list {
  transition: opacity 100ms ease-in-out;
}

/* // */

.patterns-answers-container {
  display: flex;
  justify-content: space-evenly;
}

.question-list {
  display: grid;
  grid-template-columns: repeat(6, 0fr);

  gap: 10px;
}

/* @media (orientation: landscape) { */
/* landscape-like */
.patterns-answers-container {
  flex-direction: row;
}

.answer-list {
  grid-template-columns: repeat(2, 1fr);
}

.question-list {
  grid-template-columns: repeat(9, 1fr);
}
/* } */

@media (orientation: portrait) and (width < 600px) {
  .patterns-answers-container {
    flex-direction: column;
  }

  .answer-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .question-list {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (orientation: portrait) and (width < 450px) {
  html {
    display: block;
  }

  body {
    min-height: 100vh;
    width: inherit;
  }
}

.answer-list {
  --pattern-size: 70px;
  align-content: center;
}

.answer-list {
  display: grid;

  gap: 10px;

  --color: var(--dimgray);
  --answer-letter-color: white;
}

.answer {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 50px;
  text-align: center;

  background-color: var(--color);
  border: 3px solid var(--color);
  border-radius: 2px;

  transition: 200ms all;
}

.answer.selected {
  --color: var(--yellow);
  --answer-letter-color: black;

  box-shadow: 0 0 0 2px black;
}

.answer-letter {
  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(var(--row-height) / 3);

  text-align: center;

  color: var(--answer-letter-color);

  font-size: 20px;
  text-transform: uppercase;

  transition: 200ms all;
}

.pattern-question-mark {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-style: dashed;

  color: black;
}

.pattern-question-mark:after {
  display: flex;
  align-items: center;

  content: "?";
  position: relative;
  font-size: calc(var(--pattern-size) * 2 / 3);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

/* for svg content */
.pattern-question-mark:not(:empty) {
  border: none;
  background: none;
  stroke-dasharray: 5 2;
  stroke: black;
  stroke-width: 2px;
}

/* // */

hr {
  padding: 0;
  margin: 0;
  /* width: 100%; */
  border-width: 2px;
  box-sizing: border-box;
  align-self: stretch;
}
