@import url(./reset.css);
@import url(./fonts.css);
@import url(./helpers.css);
@import url(./palette.css);

:root {
  --row-height: 75px;

  --body-bg-color: #c0c0c0;
}

button {
  cursor: pointer;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.tiktok-text {
  text-shadow: 1px 1px #f72456, -1px -1px #19f2e4;
}

/* @property --color {
  syntax: "<color>";
  inherits: false;
  initial-value: transparent;
} */

body {
  background-color: var(--body-bg-color);
}

/* tailwind-like */

.p-10 {
  padding: 10px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.m-10 {
  margin: 10px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.w-100p {
  width: 100%;
}

/* // */
.ui-button,
button[type="button"] {
  font-size: 20px;
  background-color: var(--gray);
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-weight: 600;
  border-radius: 3px;
  user-select: none;
}

/* progress */
progress {
  border: 0;
  border-radius: 0;
  height: 15px;

  --progress-bar-bg: var(--gray);
  --progress-value-bg: var(--red);
}

/* this shit does not work for all browsers, consider to use div-progress instead */

progress::-webkit-progress-bar {
  background-color: var(--progress-bar-bg);
}

progress::-webkit-progress-value {
  background-color: var(--progress-value-bg);
  transition: all 300ms ease-in-out;
}

header {
  position: sticky;
  top: 0;

  /* background-color: var(--body-bg-color); */
  background-color: #a2a2a2;
  box-shadow: 0 0 5px 0 black;
}

.pattern-area {
  display: flex;
  flex-direction: column;

  /* width: 375px; */

  font-size: 50px;
  text-align: center;

  gap: 10px;
}

.pattern-row {
  display: flex;
  flex-direction: row;

  gap: inherit;
}

.pattern-part {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--row-height);
  height: var(--row-height);

  background-color: var(--color, transparent);
  text-transform: uppercase;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.pattern-area .pattern-part {
  border: 2px solid black;
}

.pattern-area .pattern-part {
  border-radius: 10px;
  box-shadow: inset 0 -10px 0 0 rgba(0, 0, 0, 0.2);
}

.pattern-operator {
  width: calc(var(--row-height) / 3);
  height: var(--row-height);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

/* // */

.answer-list {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;

  gap: 10px;

  --color: var(--dimgray);
  --answer-letter-color: white;
}

.answer {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 50px;
  text-align: center;

  background-color: var(--color);
  border: 3px solid var(--color);
  border-radius: 2px;

  transition: 200ms all;
}

.answer.selected {
  --color: var(--yellow);
  --answer-letter-color: black;

  box-shadow: 0 0 0 2px black;
}

.answer-letter {
  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(var(--row-height) / 3);

  text-align: center;

  color: var(--answer-letter-color);

  font-size: 20px;
  text-transform: uppercase;

  transition: 200ms all;
}

/* // */

hr {
  padding: 0;
  margin: 10px 0;
  width: 100%;
  border-width: 2px;
  box-sizing: border-box;
}
