.pattern-value {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  box-sizing: border-box;
}

.pattern-value {
  --color: var(--white);

  /* --color-shadow: hsl(from var(--bg-color) h calc(s - 35) calc(l - 15)); */

  width: var(--pattern-size);
  height: var(--pattern-size);

  color: var(black);

  background-color: var(--color, transparent);
  border: 2px solid black;
  border-radius: 10px;

  /* todo: unify with pattern-formula */
  --shadow-diff: -2px;
  --shadow-offset: -10px;

  padding-bottom: calc(-1 * (calc(var(--shadow-diff) + var(--shadow-offset))));

  --color-shadow: hsl(from var(--color) h calc(s - 30) calc(l - 10));
  --reflex-shift: 9;
  --color-reflex: hsl(
    from var(--color) h calc(s - 0) calc(l + var(--reflex-shift))
  );

  box-shadow: inset 0 var(--shadow-offset) 0 0 var(--color-shadow),
    inset 0 calc(var(--shadow-diff) + var(--shadow-offset)) 0 0
      var(--color-reflex);

  > span {
    /* button weight reset for answers */
    font-weight: initial;
    text-transform: uppercase;
    text-shadow: 2px 2px var(--shadow-color);

    animation: fadeIn 200ms ease-in forwards, slideUp 200ms ease-in forwards;
  }
}

.pattern-value {
  container-type: inline-size;
  text-shadow: 2px 2px var(--color-shadow);

  > span {
    font-size: 60cqw;
  }
}
