.pattern-matrix {
  position: relative;
  container-type: inline-size;
  /* prevent outside recoloring */
  --color: white;
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);

  background-color: black;
  gap: 2px;

  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 2px;

  width: var(--pattern-size);
  height: var(--pattern-size);
}

.debug .pattern-matrix {
  &:after {
    content: attr(debug-info);
    top: 0;
    left: 0;
    font-size: 15cqw;
    /* text-shadow: 0 0 3px #fc0000; */
    position: absolute;
    font-variant-numeric: tabular-nums;

    color: var(--debug-color);
    background: var(--debug-bg);

    max-width: -webkit-fill-available;
    word-wrap: break-word;
    text-align: left;
  }
}

.matrix-cell {
  background: var(--color, transparent);
  font-size: 0;
}

.debug .matrix-cell {
  /* text support */
  font-size: 20px;
  font-size: calc(var(--pattern-size) / var(--size) / 3 * 2);
  line-height: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* mixed colors */

.red.green {
  --color: linear-gradient(
    to bottom right,
    var(--green) 48%,
    black 48%,
    black 52%,
    var(--red) 52%
  );
}

.red.blue {
  --color: linear-gradient(
    to bottom right,
    var(--red) 48%,
    black 48%,
    black 52%,
    var(--blue) 52%
  );
}

.red.yellow {
  --color: linear-gradient(
    to bottom right,
    var(--red) 48%,
    black 48%,
    black 52%,
    var(--yellow) 52%
  );
}

.green.blue {
  --color: linear-gradient(
    to bottom right,
    var(--green) 48%,
    black 48%,
    black 52%,
    var(--blue) 52%
  );
}

.green.yellow {
  --color: linear-gradient(
    to bottom right,
    var(--green) 48%,
    black 48%,
    black 52%,
    var(--yellow) 52%
  );
}

.yellow.blue {
  --color: linear-gradient(
    to bottom right,
    var(--yellow) 48%,
    black 48%,
    black 52%,
    var(--blue) 52%
  );
}

/* common */

.pattern-area {
  --size: 3;
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);
  grid-template-rows: repeat(var(--size), 0fr);
  align-content: center;

  --pattern-size: 100px;
}

.pattern-question-mark {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--dimgray);
  color: black;
  border-radius: 2px;
}
