.pattern-value {
  --bg-color: var(--white);

  --shadow-color: rgba(0, 0, 0, 0.2);
  --shadow-color: #cbd7f2;
  --shadow-color: hsl(from var(--bg-color) h calc(s - 15) calc(l - 15));

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--pattern-size);
  height: var(--pattern-size);

  color: var(--color, black);

  background-color: var(--bg-color);
  font-size: calc(var(--pattern-size) * 2 / 3);
  font-weight: 400;
  text-shadow: 2px 2px var(--shadow-color);
  /* text-shadow: 2px 2px hsl(from var(--color) h calc(s - 0) calc(l - 20) / 0.6); */
  text-transform: uppercase;

  border: 2px solid black;
  border-radius: 2px;
  box-sizing: border-box;

  border-radius: 10px;
  box-shadow: inset 0px -7px 0 var(--shadow-color);

  transition: all 500ms ease-in-out;
}

.pattern-value > span {
  animation: fadeIn 200ms ease-in forwards, slideUp 200ms ease-in forwards;
}
