.pattern-rotational {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--pattern-size);
  height: var(--pattern-size);

  box-sizing: border-box;
  /* border-radius: calc(var(--pattern-size) / 2); */
}

.pattern-rotational.pattern-question-mark .frame-fill {
  fill: var(--dimgray);
}

.rotational-part {
  position: absolute;
  width: var(--pattern-size);
  height: var(--pattern-size);

  color: var(--color);

  transition: all 500ms ease-in-out;

  mix-blend-mode: multiply;
  /* mix-blend-mode: color-burn;
  mix-blend-mode: overlay; */

  --stroke-width: 2px;

  stroke-linejoin: round;

  --stroke: hsl(from var(--color) h s calc(l * 0.5));

  stroke-width: var(--stroke-width);
  /* paint-order: stroke fill; */
}

.frame-fill {
  fill: white;
}

.frame-stroke {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.part-container {
  isolation: isolate;
  /* overflow: hidden; */
  /* border-radius: calc(var(--pattern-size) / 2); */
}

.answer-list .pattern-rotational {
  /* todo: keep or remove? */
  background-color: #a2a2a2;
}

.answer.rouded-corners {
  /* todo: think about it */
  /* todo: fix rounded corner */
  border-top-right-radius: calc(var(--pattern-size) / 2 + 3px);
  border-bottom-right-radius: calc(var(--pattern-size) / 2 + 3px);
}

.answer .pattern-rotational {
  border-radius: inherit;
}
