@keyframes slideUp {
  from {
    transform: translateY(10%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotateUp {
  from {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(0deg);
  }
}
