button {
  --button-bg: var(--gray);
  font-size: 20px;
  background-color: var(--button-bg);
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-weight: 600;
  border-radius: 3px;
  user-select: none;

  transition: background-color 100ms ease-in-out;

  cursor: pointer;

  &.primary {
    --button-bg: #8bccff;
  }

  &.cancel {
    --button-bg: #ffafaf;
  }

  &:active {
    background-color: hsl(from var(--button-bg) h s calc(l - 20));
    /* background-color: rgba(0, 0, 0, 0.2); */
  }

  &:disabled {
    color: var(--dimgray);
    border-style: dashed;
  }
}

[disabled] button {
  color: var(--dimgray);
  border-style: dashed;
}
