.chart {
  position: relative;

  display: grid;

  .lines,
  .bars {
    display: grid;

    width: 100%;
    height: 100%;
  }

  .lines {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 6px;
    align-content: space-between;

    pointer-events: none;

    .line-container {
      display: contents;
    }

    .line {
      box-sizing: border-box;
      width: auto;
      min-height: 1px;
      margin: 0;
      align-self: center;
      justify-self: stretch;

      border-bottom: 3px dotted;
      border-color: rgba(0, 0, 0, 0.2);

      .line-container:last-child & {
        border-style: solid;
        border-width: 1px;
      }
    }

    .value {
      padding: 5px;
      text-align: right;

      font-size: 16px;
      font-weight: 600;
      line-height: 14px;

      opacity: 0.4;
    }
  }

  .bars {
    display: grid;
    grid-auto-flow: column;

    /* space for vertical history */
    padding-left: 48px;
    padding-top: 12px;
    padding-bottom: 12px;

    box-sizing: border-box;

    .bar-container {
      display: flex;
      flex-direction: column;
      justify-content: end;

      position: relative;

      margin-bottom: -1px;
    }

    .bar-container:first-child {
      border-left: 2px solid hsla(0, 0%, 0%, 0.3);
    }

    .bar {
      /* flex: 1; */
      box-sizing: border-box;
      width: 30px;
      width: 50%;
      /* margin: auto; */

      height: var(--value, 100%);
      border: 2px solid;
      border-radius: 3px;

      --color: #74b0fc;

      background-color: rgba(from var(--color) r g b / 0.2);
      border-color: var(--color);

      .active & {
        --color: rgb(244 140 183);
      }
    }

    .value {
      position: absolute;
      padding: 5px;
      /* white-space: nowrap; */
      text-align: center;
      background: #ffffff52;
    }
  }
}
