.chart {
  position: relative;
  --x-axis-height: 52px;
  --y-axis-width: 48px;

  .lines,
  .bars {
    display: grid;

    width: 100%;
    height: 100%;
  }

  margin-bottom: var(--x-axis-height);

  --v-margin: calc(12px - 1px);

  .curve,
  .bars {
    padding-top: var(--v-margin);
    padding-bottom: var(--v-margin);
  }

  .curve {
    position: absolute;
    inset: 0;

    /* match bars plot area so curve aligns with bar columns */
    padding-left: var(--y-axis-width);

    box-sizing: border-box;
    pointer-events: none;
    z-index: 0;

    width: 100%;
    height: 100%;
    overflow: visible;

    .curve-area {
      fill: rgba(33, 150, 243, 0.1);
    }
  }

  .lines {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 6px;
    align-content: space-between;

    pointer-events: none;
    z-index: 1;

    .line-container {
      display: contents;
    }

    .line {
      box-sizing: border-box;
      width: auto;
      min-height: 1px;
      margin: 0;
      align-self: center;
      justify-self: stretch;

      border-bottom: 3px dotted;
      border-color: rgba(0, 0, 0, 0.2);

      .line-container:last-child & {
        border-style: solid;
        border-width: 1px;
      }
    }

    .value {
      padding: 5px;
      text-align: right;

      font-size: 16px;
      font-weight: 600;
      line-height: 14px;

      opacity: 0.4;
    }
  }

  .bars {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    position: absolute;
    inset: 0;
    z-index: 2;

    padding-left: var(--y-axis-width);

    box-sizing: border-box;

    .bar-container {
      display: flex;
      flex-direction: column;
      justify-content: end;
      height: 100%;

      position: relative;
    }

    .bar-container:first-child {
      border-left: 2px solid hsla(0, 0%, 0%, 0.3);
    }

    .bar {
      /* flex: 1; */
      box-sizing: border-box;
      width: 30px;
      width: 50%;
      /* margin: auto; */

      height: var(--value, 100%);
      border: 2px solid;
      border-radius: 3px;

      --color: #74b0fc;

      background-color: rgba(from var(--color) r g b / 0.2);
      border-color: var(--color);

      .active & {
        --color: rgb(244 140 183);
      }
    }

    .value {
      display: none;
    }
  }

  .x-labels {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: var(--x-axis-height);

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: start;

    padding-left: var(--y-axis-width);
    padding-top: 6px;
    padding-bottom: 0;

    box-sizing: border-box;
    z-index: 3;
  }

  .x-label {
    box-sizing: border-box;
    padding-top: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
    opacity: 0.4;
    white-space: nowrap;
  }
}
