.flex,
.flex-row,
.flex-col {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.border-box {
  box-sizing: border-box;
}

.container {
  container-type: inline-size;
}

.nowrap {
  white-space: nowrap;
}

[hidden] {
  display: none !important;
}

svg[aria-hidden="true"] {
  display: none !important;
}

[disabled] {
  pointer-events: none;
}

/* tailwind-like */

.p-0 {
  padding: 0;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.m-0 {
  margin: 0;
}

.m-10 {
  margin: 10px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-20 {
  margin: 20px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.w-100p {
  width: 100%;
}

.h-100p {
  height: 100%;
}

.small {
  font-size: small;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(5px);
  z-index: 1;
}
