/* questions section */

:root {
  --question-button-size: 50px;
  --question-list-gap: 10px;
}

.question-button {
  position: relative;
  font-size: 20px;
  background-color: var(--gray);
  width: var(--question-button-size);
  height: var(--question-button-size);
  align-items: center;
  justify-self: anchor-center;
  display: flex;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.3);

  box-sizing: border-box;
  font-weight: 600;
  border-radius: 3px;

  transition: all 300ms ease-in-out;

  &:not(.answered) {
    background-color: transparent;
    border-style: dashed;
  }

  &.correct {
    background-color: var(--green);
  }

  &.wrong {
    background-color: var(--red);
  }

  &.selected {
    box-shadow: 0 0 0px 3px var(--yellow);
    border-color: black;
  }
}

.debug .question-button {
  &:after {
    /* debug */
    content: attr(data-time);
    position: absolute;
    top: 0;
    right: 0;
    background: lime;
    font-size: 12px;
    font-variant-numeric: tabular-nums;
  }
}

.question-list {
  display: grid;
  width: 100%;
  box-sizing: border-box;

  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--question-button-size), 1fr)
  );

  gap: var(--question-list-gap);
}

.question-list {
  /* grid-template-columns: repeat(9, 1fr); */
}

@media (orientation: portrait) and (width < 600px) {
  .question-list {
    box-sizing: border-box;
    width: 100%;

    /* grid-template-columns: repeat(6, 1fr); */

    /* grid-template-columns: repeat(auto-fill, minmax(50px, 1fr)); */
  }
}
